/* styling of Sidebar*/
body{
margin:0;
padding: 0;
font-family: "Roboto",sans-sarif;
}

header{
    position: fixed;
    background: #4CCDBE;
    padding: 20px;
    width: 100%;
    height: 18%;

}
.logo_area{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 45%;
    top:-10%;
    margin-left: -130px;
}
img{
    height: 200px;
    padding-left: 35%;
    
}
#check{
    visibility: hidden;
}

.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}


.sidebar{
    background: #4CCDBE;
    margin-top: 70px;
    padding-top: 90px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .logo{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;  
}

.sidebar h4{
    color:#ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5;
    transition-property: background;
}

.sidebar a:hover{
   background: #4B9D94; 
}

.sidebar i{
    padding-right: 20px;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    cursor: pointer;
    left: 300px;
    font-size: 30px;
    margin: 15px 60px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #4B9D94;

}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~.sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
#check{
    display: none;
}


/* styling of contact page*/


.padding{
    padding-top: 10px;
   
}
.container{
    
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.contact-box{
    background: #fff;
    display: flex;
    padding-top: 100px;
    padding-left: 500px;
}
.contact-top h3{
    padding-bottom: 50px;
}
h1{
    margin-bottom: 20px;
}
.container p {
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 20px;
}
textarea{
    width: 100%;
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #4CCDBE;
}

button{
   background: #4CCDBE;
   width: 150px;
   border: none;
   outline:none;
   color: #fff;
   height: 35px;
   border-radius: 30px;
   margin-top: 20px;
   box-shadow: 0px 5px 15px 0px rgba(28, 0 ,181, 0.3);
}


tr td:first-child{
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

/* Introduction*/
.contact-down{
    width: 100%;
    padding-top: 10%;
}

.main-area{
    background: #fff;
    margin-top: 80px;
   
    
    width: 100%;
    height: 100%;
    padding-left: 300px;

}

.text-info p{
    margin-top: 0px;
    color: #000;
    padding-top: 50px;
    position: fixed;
    left: 5;
    width: 35%;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.main-area img{
    display: inline;
    vertical-align: middle;
    object-fit: cover;
    height: 400px;
    padding-left: 50%;

}



/* Footer*

footer{
 background: #4CCDBE;
    margin-top: 600px;
    padding-top: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    transition: 0.5s;
    transition-property: bottom;
}
*/


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4CCDBE;;
  color: white;
  text-align: center;
  height: 100px;
}

.fa-facebook, 
.fa-twitter, 
.fa-google-plus-g, 
.fa-instagram, 
.fa-youtube {
    color: #d5d5d5;
    font-size: 3em;
    padding: 1rem;
    
}
.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-google-plus-g:hover, 
.fa-instagram:hover, 
.fa-youtube:hover {
    color: #4B9D94
    
}
